@charset "UTF-8";
@font-face {
  font-family: 'main';
  src: url(../fonts/MullerRegular.ttf);
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* line 144, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/variables.sass */
::-webkit-scrollbar {
  width: 10px;
}

/* line 147, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/variables.sass */
::-webkit-scrollbar-track {
  background-color: #1d1b1b94;
}

/* line 150, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/variables.sass */
::-webkit-scrollbar-thumb {
  background-color: #FFCB03;
  border-radius: 10px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* line 160, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/variables.sass */
.loader {
  animation: rotate 3s infinite linear;
}

@media screen and (min-width: 769px) {
  /* line 4, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case {
    min-width: fit-content;
    min-height: fit-content;
    background: rgba(35, 32, 32, 0.57);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
    background-filter: blur(15px);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'main';
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    flex-direction: column;
    color: #FFCB03;
    margin: 35px 60px;
    position: relative;
    padding: 20px 40px;
    min-width: fit-content;
    margin: 20px 0px;
    position: relative;
  }
  /* line 96, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/variables.sass */
  .case__title {
    font-family: 'main';
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    font-size: 24px;
    color: #FFCB03;
  }
  /* line 10, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__back {
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  /* line 12, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card {
    min-width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    overflow: hidden;
  }
  /* line 19, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__h1 {
    margin-bottom: 25px;
  }
  /* line 21, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form {
    width: fit-content;
    display: flex;
    flex-direction: column;
  }
  /* line 25, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  /* line 31, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item:last-child {
    margin: 10px 0px 0px;
  }
  /* line 33, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__label {
    font-family: 'main';
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    text-transform: none;
  }
  /* line 35, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__label__reqired {
    color: #b40000;
  }
  /* line 37, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__input {
    position: relative;
  }
  /* line 39, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__input__invalid {
    font-family: 'main';
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    text-transform: none;
    font-weight: bold;
    position: absolute;
    right: 0px;
    bottom: -14px;
    font-size: 14px;
    color: #FFCB03;
  }
  /* line 47, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__input, .case__card__form__item__select, .case__card__form__item__textarea {
    min-height: 1em;
    min-width: 25rem;
    padding: 10px;
    border-radius: 6px;
    min-width: 15rem;
    background: rgba(54, 54, 54, 0.63);
    border: 1px solid rgba(54, 54, 54, 0.01);
    color: #ffff;
    resize: none;
    margin-left: 50px;
  }
  /* line 117, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/variables.sass */
  .case__card__form__item__input:focus, .case__card__form__item__input:active, .case__card__form__item__select:focus, .case__card__form__item__select:active, .case__card__form__item__textarea:focus, .case__card__form__item__textarea:active {
    border: 2px solid #FFCB03;
    outline: none;
  }
  /* line 54, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__select {
    padding: 9px;
    min-width: 16.5rem;
  }
  /* line 57, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__select__option {
    color: #b4b4b49a;
  }
  /* line 59, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__button {
    border-radius: 30px;
    background-color: #FFCB03;
    cursor: pointer;
    color: #232020;
    padding: 10px 15px;
    border: none;
    filter: drop-shadow(8px 7px 4px rgba(0, 0, 0, 0.25));
    transition: all;
    transition-duration: 0.5s;
    font-family: 'main';
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    color: #232020;
    max-width: 150px;
    min-width: 150px;
    max-height: 50px;
    min-height: 50px;
  }
  /* line 71, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/variables.sass */
  .case__card__form__item__button:hover {
    background-color: #C17D17;
    color: #FFFFFF;
    box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.25);
    transition: all;
    transition-duration: 0.5s;
  }
  /* line 67, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__agree {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* line 69, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__agree__styledCheckbox {
    max-width: fit-content;
    display: flex;
    padding: 5px;
    margin-right: 15px;
    border-radius: 6px;
    background: rgba(54, 54, 54, 0.63);
    border: 1px solid rgba(54, 54, 54, 0.01);
  }
  /* line 77, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__agree__checkbox {
    opacity: 0;
  }
  /* line 79, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__agree__checkbox:checked {
    opacity: 1;
  }
  /* line 81, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__success {
    position: absolute;
    font-family: 'main';
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    text-transform: none;
    background: rgba(35, 32, 32, 0.57);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
    background-filter: blur(15px);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    background: rgba(35, 32, 32, 0.897);
    padding: 50px 70px;
    font-weight: 600;
    min-width: fit-content;
    min-height: fit-content;
    max-height: 65vh;
  }
  /* line 94, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__success__img {
    margin-bottom: 20px;
  }
  /* line 96, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__success__button {
    font-family: 'main';
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    border-radius: 30px;
    background-color: #FFCB03;
    cursor: pointer;
    color: #232020;
    padding: 10px 15px;
    border: none;
    filter: drop-shadow(8px 7px 4px rgba(0, 0, 0, 0.25));
    transition: all;
    transition-duration: 0.5s;
    padding: 20px 25px;
    max-width: fit-content;
    font-weight: 400;
    margin: 20px 0px;
  }
  /* line 71, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/variables.sass */
  .case__card__success__button:hover {
    background-color: #C17D17;
    color: #FFFFFF;
    box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.25);
    transition: all;
    transition-duration: 0.5s;
  }
}

/* line 105, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
.unvisible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 5s, opacity 0.5s linear;
}

/* line 110, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 5s, opacity 0.5s linear;
}

/* line 116, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
.date::placeholder {
  opacity: 0.5;
}

@media (min-width: 0px) and (max-width: 768px) {
  /* line 121, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case {
    min-width: fit-content;
    min-height: fit-content;
    background: rgba(35, 32, 32, 0.57);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
    background-filter: blur(15px);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'main';
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    flex-direction: column;
    color: #FFCB03;
    margin: 35px 60px;
    position: relative;
    padding: 15px;
    min-width: fit-content;
    margin: 20px 0px;
    position: relative;
  }
  /* line 96, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/variables.sass */
  .case__title {
    font-family: 'main';
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    font-size: 24px;
    color: #FFCB03;
  }
  /* line 127, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__back {
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  /* line 129, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card {
    min-width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  /* line 135, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__h1 {
    font-size: 20px;
    margin: 35px 0px 25px 0px;
  }
  /* line 138, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form {
    width: fit-content;
    display: flex;
    flex-direction: column;
  }
  /* line 142, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  /* line 148, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item:last-child {
    margin: 10px 0px 0px;
  }
  /* line 150, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__label {
    font-family: 'main';
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    text-transform: none;
    max-width: 15rem;
  }
  /* line 153, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__label__reqired {
    color: #b40000;
  }
  /* line 155, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__input {
    position: relative;
  }
  /* line 157, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__input__invalid {
    font-family: 'main';
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    text-transform: none;
    font-weight: bold;
    position: absolute;
    left: 0px;
    bottom: -15px;
    font-size: 13px;
    max-width: 20rem;
    color: #FFCB03;
  }
  /* line 166, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__input, .case__card__form__item__select, .case__card__form__item__textarea {
    min-height: 1em;
    padding: 10px;
    border-radius: 6px;
    min-width: 15rem;
    background: rgba(54, 54, 54, 0.63);
    border: 1px solid rgba(54, 54, 54, 0.01);
    color: #ffff;
    resize: none;
    min-width: 10rem;
    max-width: 15rem;
  }
  /* line 117, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/variables.sass */
  .case__card__form__item__input:focus, .case__card__form__item__input:active, .case__card__form__item__select:focus, .case__card__form__item__select:active, .case__card__form__item__textarea:focus, .case__card__form__item__textarea:active {
    border: 2px solid #FFCB03;
    outline: none;
  }
  /* line 173, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__select {
    padding: 9px;
    min-width: 16.5rem;
  }
  /* line 176, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__select__option {
    color: #b4b4b49a;
  }
  /* line 178, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__button {
    border-radius: 30px;
    background-color: #FFCB03;
    cursor: pointer;
    color: #232020;
    padding: 10px 15px;
    border: none;
    filter: drop-shadow(8px 7px 4px rgba(0, 0, 0, 0.25));
    transition: all;
    transition-duration: 0.5s;
    font-family: 'main';
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    color: #232020;
    max-width: 150px;
    min-width: 150px;
    max-height: 50px;
    min-height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    align-self: center;
  }
  /* line 71, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/variables.sass */
  .case__card__form__item__button:hover {
    background-color: #C17D17;
    color: #FFFFFF;
    box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.25);
    transition: all;
    transition-duration: 0.5s;
  }
  /* line 189, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__agree {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* line 191, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__agree__styledCheckbox {
    max-width: fit-content;
    display: flex;
    padding: 5px;
    margin-right: 15px;
    border-radius: 6px;
    background: rgba(54, 54, 54, 0.63);
    border: 1px solid rgba(54, 54, 54, 0.01);
  }
  /* line 199, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__agree__checkbox {
    opacity: 0;
  }
  /* line 201, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__form__item__agree__checkbox:checked {
    opacity: 1;
  }
  /* line 203, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__success {
    position: absolute;
    top: 150px;
    font-family: 'main';
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    text-transform: none;
    background: rgba(35, 32, 32, 0.57);
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
    background-filter: blur(15px);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(35, 32, 32, 0.897);
    padding: 10px;
    font-weight: 600;
    min-width: fit-content;
    min-height: fit-content;
  }
  /* line 216, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__success__img {
    margin-bottom: 20px;
  }
  /* line 218, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/newCase.sass */
  .case__card__success__button {
    font-family: 'main';
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;
    border-radius: 30px;
    background-color: #FFCB03;
    cursor: pointer;
    color: #232020;
    padding: 10px 15px;
    border: none;
    filter: drop-shadow(8px 7px 4px rgba(0, 0, 0, 0.25));
    transition: all;
    transition-duration: 0.5s;
    padding: 20px 25px;
    max-width: fit-content;
    font-weight: 400;
    margin: 20px 0px;
  }
  /* line 71, ../../home/kate/Рабочий стол/course/cycleRent_finalProject/src/sass/variables.sass */
  .case__card__success__button:hover {
    background-color: #C17D17;
    color: #FFFFFF;
    box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.25);
    transition: all;
    transition-duration: 0.5s;
  }
}

/*# sourceMappingURL=newCase.css.map */